*{
	border: 0px;
	margin: 0px;
	padding: 0px;
	outline: none;
}
.header {
	width: 100%;
	padding: 35px 0;
	font-size: 14px;
	background-image: url(../images/slider1.png);
}

.navbar {
	 width: 100%;
	 background: transparent !important;
}

.navbar .nav-item {
	left: 200px;
}

.navbar .nav-item .nav-link {
	color: #fff;
}

.navbar .nav-item .nav-link:hover {
	color: darkorange;
}

.logo {
	margin-top: 10px;
	margin-left: 100px;
}

ul li {
	display: inline;
	position: relative;	
}
ul li a {
	color: #fff;
	padding: 8px;
	font-size: 16px;
	font-family: 'Poppins' , sans-serif;	
}
ul li a:hover {
	color: #fff;
	text-decoration: none;
}
.menu {
	font-size: 14px;
	margin-top: 10px;
	margin-left: 160px;	
}
.social {
	left: -100px;
	float: left;
	font-size: 14px;
	margin-top: 10px;
	position: relative;
	font-family: 'Poppins', sans-serif;	
}
.social i {
	color: #fff;
	padding: 7px;
}
.social i:hover {
	color: #fff;
	text-decoration: none;
}
.text-center {
	text-align: center;
}
.text-center h3 {
	color: #fff;
	font-size: 20px;
	margin-top: 100px;
	line-height: 100px;
	font-family: 'Poppins', sans-serif;
	font-family: 'Open Sans', sans-serif;
}
.text-center p { 
	color: #fff;
	font-size: 45px;
	font-weight: bold;
	line-height: 40px; 
	font-family: 'Poppins', sans-serif;
	font-family: 'Open Sans', sans-serif; 	
}
.btn-yellow {
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	padding: 18px 50px;
	margin: 60px 0 115px;
	display: inline-block;
	background-color: #fd3f79;
	font-family: 'Poppins', sans-serif; 
}
.btn-yellow:hover {
	color: #fff;
	text-decoration: none;
}
.design {
	width: 100%;
	padding: 100px 0;
	background-color: red;
}
.design .column h2 {
	top: -40px;
	color: #fff;
	font-weight: bold;
	font-size: 40px;
	margin-left: 10px;
	position: relative;
	font-family: 'Poppins', sans-serif;
}
.design .column p {
	color: #fff;
	font-size: 35px;
	margin-left: 10px;
}	
.design .column .button {
	top: 40px;
	left: -50px;
	color: #fff;
	float: right;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	padding: 15px 35px;
	border-radius: 50px;
	border: 2px solid #fff;
	font-family: 'Poppins', sans-serif;
}
.design .column .button i {
	margin-left: 35px;
}
.button:hover {
	color: #fff;
	text-decoration: none;
}


.design1 {
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
}
.design1 .column1 {
	width: 30%;
	top: 0;
	float: left; 
	padding-top: 245px;
	margin-right: 85px;
    margin-left: 15px;
	background-image: url(../images/01.png);
}
.design1 .column1 h4 {
	font-size: 20px;
	color: #000;
	position: relative;
	top: -140px;
	font-family: 'Poppins', sans-serif;
}
.design1 .column1 p {
	top: -110px;
	color: #000;
	font-size: 12px;
	position: relative;
	font-family: 'Playfair Display', serif;
}
.design1 .pic {
	background-image: url(../images/02.png);
}
.design1 .column3 {
	top: 0;
	left: 20px;
	width: 30%;
	float: left;
	padding-top: 170px;
	background-color: #fd3f79;	
}
.design1 .column3  h1 {
	font-size: 50px;
	color: #fff;
	top: -110px;
	position: relative;
	margin-left: 10px;
	font-family: 'Poppins', sans-serif;	
}
.design1 .column3 h4 {
	font-size: 20px;
	color: #fff;
	top: -90px;
	position: relative;
	margin-left: 10px;
	font-family: 'Poppins', sans-serif;
}
.design1 .column3  p {
	top: -65px;
	left: 10px;
	position: relative;
	font-size: 12px;
	color: #fff;
	font-family: 'Playfair Display', serif;
}

.team {
	width: 100%;
	margin: 0 auto;
	padding: 66px 0;
	background-color: #fff;
}
.team h1 {
	color: #000;
	font-size: 40px;
	margin-left: 35px;
	margin-bottom: 80px;
}
.team .picture {  
	float: left; 
    margin-left: 15px;
    text-align: center;
    position: relative;
}
.team .picture h4 { 
	margin-top: 130px;
}
.team .picture h6 { 
	color: #fff;
	margin-top: 30px;
}
.team .social3  {
   margin-top: 30px;
}
.social3 i {
	color: #fff;
	padding: 7px;
}
.social3 i:hover {
	color: #fff;
	text-decoration: none;
}
.team .social4 {
   margin-top: 30px;
}
.social4 i {
	color: #fff;
	padding: 7px;
}
.social4 i:hover {
	color: #fff;
	text-decoration: none;
}
.picture .box h4 {
	margin-top: 10px;
}
.picture .box h6 {
	color: #9a9a9a;
	margin-top: -10px;
}
.team .picture h3 { 
	color: #fff;
	font-size: 20px;
	margin-top: 175px;
}
.team .picture h5 { 
	color: #fff;
	font-size: 16px;	
}
.team .social1  {
   margin-left: 10px;
}
.social1 i {
	color: #fff;
	padding: 7px;
}
.social1 i:hover {
	color: #fff;
	text-decoration: none;
}
.team .overlay {
	top: 0;
	opacity: 0;
	color: #fff;
	width: 330px;
	height: 100%;
	font-size: 20px;
	text-align: center;
	position: absolute;
	background-color: #f75e5e;
}
.team .picture:hover .overlay {
	color: #fff;
	opacity: 0.8;
	display: block;
	transition: all 0.3s;
}
.picture .box {
	display: block;	
}
.picture:hover .box {
	display: none;
}
.project {
	width: 100%;
	padding: 70px 0;
	background-color: #fff;
}
.solution1 {
	float: left;
	margin-left: -120px;
	background-color: #fff;
}
.solution2 {
	float: left;
	background-color: #fff;
}
.solution2 h2 {
	top: 0;
	color: #000;
	font-size: 40px;
	margin-left: 10px;
	font-family: 'Poppins', sans-serif;
}
.solution2 h3 {
	color: #000;
	margin-left: 10px;
	margin-top: -50px;
	font:700 40px/50px 'Poppins', sans-serif;
}
.solution2 h4 {
	margin-left: 10px;
	font:700 40px/50px 'Poppins', sans-serif;
}
.solution2 h4 span{
	display: block;
	color: #fd3e4f;
}
.solution2 .text {
	float: left;
	color: #959595;
	margin-top: 30px;
	margin-left: 10px;
	font:400 20px/30px 'Poppins', sans-serif;
}
.solution2 .btn-yellow {
	float: left;
	color: #fff;
	cursor: pointer;
	margin-top: 10px;
	margin-left: 10px;
	text-decoration: none;
	background-color: #fd3f79;
	font-family: 'Poppins', sans-serif;	
}
.project1 {
	width: 100%;
	background-color: #f4f4f4;
}
.solution3 {
	float: left;
}
.solution3 h2 {
	color: #000;
	float: left;
	font-size: 40px;
	margin-top: 50px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}
.solution3 h3 {
	color: #000;
	float: left;
	font-size: 40px;
	margin-top: 1px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}
.solution3 h4 {
	float: left;
	color: #fd3e4f;
	font-size: 40px;
	margin-top: 1px;
	margin-left: 5px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}
.solution3 p {
	float: left;
	color: #959595;
	font-size: 20px;
	margin-top: 30px;
	font-family: 'Poppins', sans-serif;	
}
.solution4 {
	float: left;
	margin-left: 60px;
	margin-top: -80px;
	margin-bottom: -45px;
}
.project2 {
	width: 100%;
	float: left;
	padding: 80px;
	background-color: #000;
}
.project2 .sol5 h2 {
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}
.project2 .sol5 span {
	display: block;
	color: #fd3e4f;
	font-size: 40px;
	font-weight: bold;
	margin-top: -45px;
	margin-left: 230px;
	font-family: 'Poppins', sans-serif;
}
.project2 .sol5 p {
	color: #dfdfdf;
	font-size: 20px;
	padding: 50px 0;
	font-family: 'Poppins', sans-serif;
}
.project2 .sol6 {
	padding: 30px;
	margin-top: -80px;
}

.project2 .sol6 i {
	color: #fd3f79;
	padding: 20px 0;
	font-size: 40px;
}
.project2 .sol6 h2 {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}
.project2 .sol6 p {
	color: #e1e1e1;
	font-size: 14px;
	padding: 10px 0;
	font-family: 'Poppins', sans-serif;
}
.footer {
	width: 100%;
	float: left;
	padding: 50px 0;
	background-color: #fff;
}
.footer .text1 {
	padding: 20px 0;
}
.footer .text1 h2 {
	color: #fd3e4f;
	font-size: 80px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}
.footer .text1 span {
	color: #000;
	font-size: 25px;
	font-weight: bold;
	margin-left: -20px;
	font-family: 'Poppins', sans-serif;
}
.footer .text1 p {
	color: #959595;
	font-size: 14px;
	margin-left: -5px;
	padding: 50px 10px;
	font-family: 'Poppins', sans-serif;
}
.footer .text2 {
	padding: 50px 0;
}
.footer .text2 h4 {
	color: #000;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}
.footer .text2 h5 {
	color: #fd3e4f;
	padding: 40px 0;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}
.footer .text2 h6 {
	font-size: 14px;
	margin-top: -40px;
	font-family: 'Poppins', sans-serif;
}
.footer .text2 p {
	color: #000;
	font-size: 14px;
	padding: 18px 0;
	font-family: 'Poppins', sans-serif;
}
.footer .text3 {
	padding: 50px 15px;
}
.footer .text3 h4 {
	color: #000;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}
.footer .text3 p {
	color: #000;
	font-size: 14px;
	padding: 40px 0;
	font-family: 'Poppins', sans-serif;
}
.footer .text3 .icons {
	margin-top: -25px;
	font-family: 'Poppins', sans-serif;	
}
.footer .text3 i {
	color: #fe8095;
	font-size: 25px;
}
.footer .text3 span {
	color: #000;
	font-size: 14px;
	margin-left: 10px;
	font-family: 'Poppins', sans-serif;	
}
.footer .social2 i {
	padding: 5px;
	color: #fd3e4f;
	font-size: 20px;
	margin-top: 40px;
}
.footer-end p {
	color: #fd3e4f;
	font-size: 14px;
	font-weight: bold;
	margin-left: 450px;
	font-family: 'Poppins', sans-serif;
}